<launch>
  <!-- Arguments -->
  <!-- 定义 server_ip 参数 -->
  <arg name="server_ip" default="127.0.0.1" />
  <arg name="simulation" default= "true"/> 

  <!-- 启动 tf_show_unity.py 节点 -->
  <node pkg="voxblox_unity" type="send_odom.py" name="send_odom" output="screen">
    <param name="server_ip" value="$(arg server_ip)" />
  </node>
</launch>


