<launch>
  <!-- Arguments -->
  <!-- 定义 server_ip 参数 -->
  <arg name="server_ip" default="127.0.0.1" />
  <arg name="simulation" default= "true"/> 

  <!-- simulation robot with lidar and map-->
  <group if="$(arg simulation)">
    <include file="$(find wpr_simulation)/launch/test.launch"/>
  </group>

  <!-- voxblox_ros -->
  <include file="$(find voxblox_ros)/launch/car_true.launch"/>

  <!-- 启动 accumulate_mesh_to_off_node 节点 -->
  <node pkg="voxblox_unity" type="accumulate_mesh_to_off_node" name="accumulate_mesh_to_off_node" output="screen">
    <param name="server_ip" value="$(arg server_ip)" />
  </node>

  <!-- 启动 tf_show_unity.py 节点 -->
  <node pkg="voxblox_unity" type="tf_show_unity.py" name="tf_show_unity" output="screen">
    <param name="server_ip" value="$(arg server_ip)" />
  </node>
</launch>
