<launch>
  <!-- 定义 server_ip 参数 -->
  <arg name="server_ip" default="127.0.0.1" />

  <!-- 启动 accumulate_mesh_to_off_node 节点 -->
  <node pkg="voxblox_unity" type="accumulate_mesh_to_off_node" name="accumulate_mesh_to_off_node" output="screen">
    <param name="server_ip" value="$(arg server_ip)" />
  </node>

</launch>
